/* CSS HEX */
--burnt-tangerine: #dd4124ff;
--charcoal-blue: #233d4dff;
--golden-pollen: #fcca46ff;
--muted-olive: #a1c181ff;
--seagrass: #619b8aff;

/* CSS HSL */
--burnt-tangerine: hsla(9, 73%, 50%, 1);
--charcoal-blue: hsla(203, 37%, 22%, 1);
--golden-pollen: hsla(44, 97%, 63%, 1);
--muted-olive: hsla(90, 34%, 63%, 1);
--seagrass: hsla(162, 23%, 49%, 1);

/* SCSS HEX */
$burnt-tangerine: #dd4124ff;
$charcoal-blue: #233d4dff;
$golden-pollen: #fcca46ff;
$muted-olive: #a1c181ff;
$seagrass: #619b8aff;

/* SCSS HSL */
$burnt-tangerine: hsla(9, 73%, 50%, 1);
$charcoal-blue: hsla(203, 37%, 22%, 1);
$golden-pollen: hsla(44, 97%, 63%, 1);
$muted-olive: hsla(90, 34%, 63%, 1);
$seagrass: hsla(162, 23%, 49%, 1);

/* SCSS RGB */
$burnt-tangerine: rgba(221, 65, 36, 1);
$charcoal-blue: rgba(35, 61, 77, 1);
$golden-pollen: rgba(252, 202, 70, 1);
$muted-olive: rgba(161, 193, 129, 1);
$seagrass: rgba(97, 155, 138, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-right: linear-gradient(90deg, #dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-bottom: linear-gradient(180deg, #dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-left: linear-gradient(270deg, #dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-top-right: linear-gradient(45deg, #dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-bottom-right: linear-gradient(135deg, #dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-top-left: linear-gradient(225deg, #dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-bottom-left: linear-gradient(315deg, #dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);
$gradient-radial: radial-gradient(#dd4124ff, #233d4dff, #fcca46ff, #a1c181ff, #619b8aff);